.idea/
cmd/sc3ml2quake/sc3ml2quake
cmd/quake-producer-kafka/quake-producer-kafka
cmd/quake-consumer-kafka/quake-consumer-kafka
cmd/quake-producer-nats/quake-producer-nats
cmd/quake-consumer-nats/quake-consumer-nats
cmd/search-pgvector/data/*
